/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');

/* Root Variables */
:root {
  --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent1-color: #A42212;
  --accent2-color: #FFFFFF;

  --heading-font: "Playfair Display", serif;
  --paragraph-font: "Open Sans", Arial, sans-serif;

  --headline-color-on-white: #396E94;
  --paragraph-color-on-white: #396E94;
  --paragraph-background-color: #396E94;
  --nav-link-color: #396E94;
  --nav-background-color: #E7C24F;
  --nav-hover-link-color: #FFFFFF;
  --nav-hover-background-color: #396E94;
}

/* General Styles */
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

hr {
  height: 3px;
  background-color: var(--accent1-color);
}

header {
  text-align: center;
  color: white;
  background-color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
}

/* Colors Table */
.colors {
  width: 100%;
  margin: 30px auto;
}

.colors td {
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}

.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: white;
}

/* Navigation */
nav {
  background-color: var(--nav-background-color);
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Sitemap */
.sitemap {
  display: grid;
  grid-template-columns: repeat(6, 15%);
}

.sitemap > div {
  background-color: #ccc;
  line-height: 3em;
}
